<div *ngIf="key == 1">
    <div class="content-container">
      
      <span class="content-span full-width">Are you sure you want to delete this activity?</span>
    </div>
    <button mat-flat-button id="no-button" (click)="onNoClick()">NO</button>
    <button mat-flat-button id="yes-button" (click)="deleteActivity()">YES</button>
</div> 

<div *ngIf="key == 2">
    <div class="content-container">
      
      <span class="content-span full-width">Are you sure you want to delete all activities for {{dd}}/{{mm}}/{{yy}} ?</span>
    </div>
    <button mat-flat-button id="no-button" (click)="onNoClick()">NO</button>
    <button mat-flat-button id="yes-button" (click)="deleteAllActivitiesForThatDate()">YES</button>
</div> 



